@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Source+Serif+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
body, p {
  font-family: 'Source Serif Pro', serif!important;
}

strong{
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Gideon Roman", serif;
}

.navbar-brand{
  font-family: "Gideon Roman", serif;
  font-weight: 900;
}
.navbar-light .navbar-nav .nav-link {
  color: black;
}
.nav-item{
  font-family: "Gideon Roman", serif;
  font-weight: 700;
}
active{
  text-decoration: underline;
}

.nav-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:20%;
    height: auto;
}

br {
  display: block; /* makes it have a width */
  content: ""; /* clears default height */
  margin-top: 12px; /* change this to whatever height you want it */
}